#folders
lit-llama
local_server
llava-med-model
data/ImageNet
outputs/lance
outputs/chexpert_test
outputs/chexpert_train
outputs/chexpert_val  
outputs/chexpert 
outputs/add_devices 
outputs
synthetic_samples
huggingface
saved_models
out
bin
lib
lib64
etc
share
comparisons/

#files
*.safetensors
*.pyc
*.iso
*.bin
*.ova
*.pth
*.pt
*.tar
*.gz
*.zip
*.rar
*.7z
*.tar.gz
*.log
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__
.idea
.DS_Store
*.egg-info
build
